<%= form_for @access, html: { class: "form-horizontal" } do |f| %>

  <%= render partial: '/form_error', locals: { record: @access } %>

    <div class="control-group">
        <%= f.label :identifier, class: "control-label" %>
        <div class="controls">
            <%= f.text_field :identifier, placeholder: :identifier %>
        </div>
    </div>
 
    <div class="form-actions">
        <%= f.submit class: "btn btn-primary" %>
    </div>
<% end %>
